<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Find unclaimed court money</h1>

    <p class="govuk-body">You can find and claim money you're entitled to from a civil court in England and Wales if it has not been claimed.</p>
    <p class="govuk-body">This could be money paid to or awarded by a court (for example to settle a court case) to you or to someone whose <%= govuk_link_to "estate you're entitled to claim", "https://www.gov.uk/unclaimed-estates-bona-vacantia" %>.</p>
    <p class="govuk-body">
      Money paid to a civil court in England and Wales is held in a Court Funds Office account. It's classed as unclaimed if the
      Court Funds Office has been unable to contact anyone entitled to the money and
      there has been no activity on the account for over 10 years.
    </p>

    <%= govuk_start_button(text: "Start now", href: "#") %>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">If you can't use the digital service, you can call the Court Funds Office Helpline on <span class="nowrap">0300 0200 199</span>.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related items
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <%= govuk_link_to "Unclaimed court money in Scotland", "https://www.scotcourts.gov.uk/the-courts/more/the-accountant-of-court/contact-the-accountant-of-court" %>
          </li>
          <li>
            <%= govuk_link_to "Unclaimed court money in Northern Ireland", "https://www.justice-ni.gov.uk/topics/courts-and-tribunals" %>
          </li>
          <li>
            <%= govuk_link_to "Claim or refer an unclaimed estate", "https://www.gov.uk/unclaimed-estates-bona-vacantia" %>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
